body {
  background-color: rgb(251, 253, 234);
}
.box {
  margin:50px 80px;
  padding: 20px;
  background-color: white;
  border-radius: 6px;
 

}
footer {
  text-align: center;
  color: blueviolet;
}
.select{
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-color: rgb(138, 43, 226,0.3);
  border-radius: 5px;

}